
$color-layout-bg: grey;
$color-bg-white: #fff;

body {
  background-color: $color-layout-bg !important;
}

.div-container {
  margin: auto;
  margin-top: 5%;
  padding: 5%;
  width: 80%;
}

.bg-white {
  background-color: $color-bg-white;
}