// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-error: red;

.bg_white {
  background-color: white;
}

.field_with_errors {
  color: $color-error;
}

/* Global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-container {
  margin: auto;
  margin-top: 5%;
  padding: 5%;
  width: 80%;
}

.container {
/*   First thing to do to get a flex box */
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 10px;
  margin: 30px;
}

.highlight {
  color: #008CFF;
}